.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 10px;
  padding-top: 80px;
}

.status > textarea {
  background: rgb(238, 238, 238);
  width: 50%;
  height: 50px;
  margin-bottom: 5px;
  border: none;
  resize: none;
  padding: 2px;
}

.status > button {
  width: 25%;
  background: lightgray;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}
