.center {
  display: flex;
  justify-content: center;
}
.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  padding-top: 80px;
  width: 40%;
}

a {
  text-decoration: none;
}

.posts > h2 {
  padding-top: 10px;
}

@media (max-width: 850px) {
  .home {
    width: 90%;
  }
}
