.post {
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
  background: #5965b2;
  color: white;
}

.toggle-comments > a {
  cursor: pointer;
  margin-top: 3px;
}

/* .comment-container {

} */

.post-comment {
  margin-bottom: 3px;
}
